<div class="container-fluid row text-danger w-auto">
    <div class="col-sm-6 text-center text-info mt-2">Nycle</div>
    <div class="col-sm-6 mt-1" id="navbarNav">
       <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
          <ul class="nav">
            <li class="nav-item active">
              <a class="nav-link">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
             <a class="nav-link">Login</a>
           </li>
           <li class="nav-item">
             <button class="btn btn-primary text-white" (click)="newFunctioncall()" >Get Started</button>
           </li>
          </ul>
        <!-- </div> -->
 
 
    </div>
   
    
 </div>