<div class="row container-fluid  bg-primary ">
    <div class="col-sm-6">
        <div class="m-5 d-block">
            <h4 class="m-5 text-white">The Lightning fast machine learning platform for developers </h4>
            <h6 class="m-5 text-white">The Lightning fast machine learning h6latform for developers.
                The Lightning fast machine learning platform for developers </h6>
            <button class="btn-sm">Try it for free</button>
        </div>
    </div>
    <div class="col-sm-6 ">
       
        <mat-card class="bg-white">
            <mat-card-title class="bg-secondary">Nyckel</mat-card-title>
            <mat-card-subtitle>Breedcum</mat-card-subtitle>
            <mat-card-content class="border"><h4>yess</h4> <h4>yess</h4> <h4>yess</h4></mat-card-content>
        </mat-card>

    </div>
   
</div>